@import "reset";
@import "_variables";

* {
  box-sizing: border-box;
}

.gridContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
    "header header header"
    "home home home"
    "footer footer footer";
}

header {
  grid-area: header;
}

home {
  grid-area: home;
}

footer {
  grid-area: footer;
}

.main {
}
